<div class="map">
  <img class="map-image" src="../../../../../../assets/maps/city_map.png" alt="City map">

  <div class="grid-container">

    <div *ngFor="let field of fields; let i = index" [attr.data-index]="i"
         class="field {{field.className}}"
         (click)="setField(field.map ,field.fieldNumber)">
      <p class="countdown-map" *ngIf="this.duration[i]>0">
        <countdown [config]="{leftTime: this.duration[i]}" (event)="handleEvent($event)"></countdown>
      </p>
    </div>


  </div>


</div>
