
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: url('src/assets/home/cursor.bmp'), auto;
}

.example-container:active{
  cursor: url('src/assets/home/cursor-focus.bmp'), auto;
}

.top-nav {
  padding: 0px 20px 50px;
  background-image: url("src/assets/home/sidenav_background_turned.bmp");
  background-position: bottom left;

}

.toolbar {
  background-image: url("src/assets/home/background.png");
  box-shadow: inset 0 0 10px black, 10px 10px 10px 2px black;

}

.logo-container {
  display: block;
  float: left;
}

img.toolbar-logo {
  position: relative;
  height: 50px;
  left: 30px;
  margin: 10px;
}

.menu-icon {
  display: block;
  font-size: 50px;
  color: white;
}

.menu-icon strong:hover {
  box-shadow: inset 0 0 10px 2px red, 5px 5px 10px 2px red;
}

.resource {
  display: block;
  width: 100px;
  max-height: 20px;
  position: relative;
  float: left;
  left: 5%;
  background-image: url("src/assets/resources/background.bmp");
  background-size: cover;
  padding: 5px;
  box-shadow: 5px 5px 10px 2px black;
  margin-right: 20px;

}

.food {
  display: block;
  width: 100px;
  max-height: 20px;
  position: relative;
  float: left;
  left: 10%;
  background-image: url("src/assets/resources/background.bmp");
  background-size: cover;
  padding: 5px;
  box-shadow: 5px 5px 10px 2px black;
  margin-right: 20px;

}

.resource-icon {
  display: block;
  float: left;
  margin: 3px 0px 0px 5px;

}

.resource-value {
  display: block;
  float: right;
  font-size: 16px;
  margin: -4px 10px 10px 0px;
  color: white;
  font-family: "Comic Sans MS", sans-serif;
}

.example-sidenav-container {
  flex: 1 0 auto;

}

.side-nav {
  background-image: url("src/assets/home/sidenav_background.bmp");
  background-position: right top;
}

.nav-button {
  display: block;

  background-image: url("src/assets/home/background.png");
  background-position: right;
  margin: 5px 40px 20px 10px;
  box-shadow: inset 0 0 10px black, 10px 10px 10px 2px black;
  border-radius: 5px;
  border: black solid 3px;
}

.nav-button:hover {
  box-shadow: inset 0 0 10px red, 10px 10px 10px 2px red;
}

.nav-button a {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: white;
  padding-right: 10px;
  font-family: "Architects Daughter", sans-serif;

}

.site-content {
  box-shadow: inset 0 0 10px 5px black;
  height: calc(100vh - 114px);
}


