<div class="map">
  <img class="map-image" src="assets/maps/mines_map.png" alt="Mines map">

  <div class="grid-container">

    <div class="field gold-mine">
      <a [routerLink]="'/game'" class="link"></a>
    </div>
    <div class="field coal-mine">
      <a [routerLink]="'/game'" class="link"></a>
    </div>
    <div class="field iron-mine">
      <a [routerLink]="'/game'" class="link"></a>
    </div>
    <div class="field iron-smith">
      <a [routerLink]="'/game'" class="link"></a>
    </div>


  </div>

</div>
