.map {
  box-shadow: inset 0 0 10px 10px black;
}

.map-image {
  position: absolute;
  width: 100%;
  height: calc(100vh - 114px);
  min-height: 600px;
  z-index: -1;
}

.grid-container {
  display: grid;
  height: calc(100vh - 114px);
  min-height: 600px;
  grid-template: 17% 10% 10% 10% 21% 12% auto / 17% 8% 11% 12% 23% 9% auto;
}

.field:hover {
  background-color: rgba(255,255,255,0.2);
  border-radius: 10%;
  box-shadow: 0 0 10px 2px black;
  cursor: url('src/assets/home/cursor-hover.bmp'), auto;
}


.gold-mine {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}
.build-gold-mine {
  background-image: url('src/assets/buildings/13.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.coal-mine {
  grid-column: 4 / 4;
  grid-row: 4 / 4;
}
.build-coal-mine {
  background-image: url('src/assets/buildings/14.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 4 / 4;
  grid-row: 4 / 4;
}

.iron-mine {
  grid-column: 6 / 6;
  grid-row: 4 / 4;
}

.build-iron-mine {
  background-image: url('src/assets/buildings/20.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 6 / 6;
  grid-row: 4 / 4;
}

.iron-smith {
  grid-column: 4 / 4;
  grid-row: 6 / 6;
}
.build-iron-smith {
  background-image: url('src/assets/buildings/21.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 4 / 4;
  grid-row: 6 / 6;
}
.countdown-map{
  font-size: 30px;
  font-weight: 800;
  font-family: "Architects Daughter", sans-serif;
  color: white;
}
