<div class="background">
  <div class="content">
    <div class="grid-container" [ngClass]="building">
      <div class="building">
        <img class="building-image" src="assets/buildings/{{building.id}}.bmp" alt="Building img">
        <div class="building-level">
          <p>{{field.buildingLevel}}</p>
        </div>

      </div>
      <div class="building-description">
        <app-message message="buildingDescription{{building.id}}"></app-message>
      </div>
      <div class="building-production">
        <p class="input">GOODS NEEDED</p>
        <p class="output">GOODS PRODUCED</p>
        <div class="input-img">
          <img *ngFor="let goodN of building.goodsNeededImg" src="assets/resources/{{goodN}}.bmp">
        </div>
        <div class="output-img">
          <img  *ngFor="let goodP of building.goodsProducedImg" src="assets/resources/{{goodP}}.bmp">
        </div>
      </div>
      <div class="resources-required">
        <img src="assets/resources/worker.bmp" class="worker">
        <img src="assets/resources/plank.bmp" class="plank">
        <img src="assets/resources/stone.bmp" class="stone">

        <img src="assets/resources/clock.png" class="clock">
        <p class="worker-value">{{building.planksNeed}}</p>
        <p class="plank-value">{{building.planksNeed}}</p>
        <p class="stone-value">{{building.stoneNeed}}</p>

        <p class="stone-value">20s</p>
      </div>
      <button class="back-button app-button"
              [routerLink]="['/game/village/', building.mapBelonging]">
        BACK
      </button>
      <button class="upgrade-button app-button"
              (click)="buildBuilding()">
        BUILD
      </button>

    </div>

  </div>
</div>
