<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer class="sidenav"
    [ngClass]="{hidden: !(isHandset$ | async)}"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <!--    toolbar of sidenav-->
    <mat-toolbar id="sidenav-menu-text"><a>Menu</a></mat-toolbar>
    <!--    sidenav elements-->
    <mat-nav-list class="sidenav-buttons-list">
      <!--      sidenav button home-->
      <div class="sidenav-button">
        <a (click)="drawer.toggle()" [routerLink]="['/']">
          Home
        </a>
      </div>
      <!--      sidenav button login-->
      <div class="sidenav-button">
        <a (click)="drawer.toggle()" [routerLink]="['/','login']">
          Login
        </a>
      </div>
      <!--      sidenav button register-->
      <div class="sidenav-button">
        <a (click)="drawer.toggle()" [routerLink]="['/','register']">
          Register
        </a>
      </div>
      <!--      sidenav button contact-->
      <div class="sidenav-button">
        <a (click)="drawer.toggle()" [routerLink]="['/','contact']">
          Contact
        </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="top-nav">
      <!--    elements of toolbar-->
      <mat-toolbar class="toolbar">
        <!--      button menu visible on mobile screen-->
        <a mat-button type="button"
           aria-label="Toggle sidenav"
           (click)="drawer.toggle()"
           *ngIf="isHandset$ | async">
          <img class="sidenav-menu-icon" src="assets/icons/table.bmp"
               alt="menu icon" >
        </a>

        <!--        logo img as home button-->
        <div [routerLink]="['/']" class="home-logo-container">
          <img class="toolbar-home-logo" src="assets/home/leftarm.bmp" alt="Left arm logo">
          <img class="toolbar-home-logo" src="assets/home/logo.bmp" alt="Knights and Merchants logo">
          <img class="toolbar-home-logo" src="assets/home/rightarm.bmp" alt="Right arm logo">
        </div>

        <!--      split elements on left and right side-->
        <span class="spacer"></span>

        <!--      elements of toolbar which are visible on desktop screen-->
        <div [ngClass]="{hidden: (isHandset$ | async)}">
          <!--          toolbar button home-->
          <a mat-flat-button class="nav-button" [routerLink]="['/']">
            Home
          </a>
          <!--          toolbar button login-->
          <a mat-flat-button class="nav-button" [routerLink]="['/','login']">
            Login
          </a>
          <!--          toolbar button register-->
          <a mat-flat-button class="nav-button" [routerLink]="['/','register']">
            Register
          </a>
          <!--          toolbar button contact-->
          <a mat-flat-button class="nav-button" [routerLink]="['/','contact']">
            Contact
          </a>

        </div>
      </mat-toolbar>
    </div>


    <div>
      <!--    content -->
      <div>
        <ng-content></ng-content>
      </div>
      <!--      footer-->
      <div class="footer-container">
        <footer>
          <div>
            <a href="https://www.facebook.com"><img class="social-link" src="assets/icons/facebook.svg" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img class="social-link" src="assets/icons/instagram.svg" alt="Instagram"></a>
            <a href="https://www.twitter.com"><img class="social-link" src="assets/icons/twitter.svg" alt="Twitter"></a>
          </div>
        </footer>
        <div class="scrollTop-button mat-flat-button" (click)="scrollTopOfWindowScreen()">
          <a>
            Scroll to top of the window
          </a>
        </div>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>



