<div class="content">
  <div class="container">
    <img src="assets/buildings/woodcutter_inprogress.bmp" alt="Woodcutter" class="building">
    <!--  <img [src]="workerAnimation" alt="Worker" class="worker">-->
    <!--  <div class="walk" [@workerLeft]="workerAnimationState" (@workerLeft.done)="onAnimationDone($event)"></div>-->
    <div class="builder top" [@builderDown]="builderAnimationState"></div>
    <div class="builder bottom" [@builderUp]="builderAnimationState"></div>
    <div class="builder right" [@builderLeft]="builderAnimationState"></div>
    <div class="builder left" [@builderRight]="builderAnimationState"
         (@builderRight.done)="onAnimationDone($event)"></div>
  </div>
</div>

