
.content {
  display: grid;
  justify-content: center;
  grid-template: 100% / 30% 40% 30%;
  background-image: url("src/main/assets/home/scroll6.png");
  background-size: cover;
  padding: 80px 20px 50px 20px;
  box-shadow: inset 0 0 15px black, 0 0 30px 15px black;
  border-radius: 20px 20px 5px 5px;
}

.register-area {
  display: grid;
  grid-area: 1 / 2 / span 1 / span 1;
  justify-self: center;
}

.form-input {
  display: flex;
  justify-content: center;
}

.input {
  display: flex;
  justify-self: center;
  background-image: url("src/main/assets/home/input.png");
  background-size: cover;
  border: none;
  border-radius: 5px;
  padding: 3px 5px 3px 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px 2px black;
  font-family: "Architects Daughter", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.input::placeholder {
  color: white;
  font-family: "Architects Daughter", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  opacity: 0.8;
}

.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltip-text {
  width: 20vw;
  background-image: url("src/main/assets/home/scroll2.bmp");
  background-size: cover;
  box-shadow: inset 0 0 10px 2px black, 2px 2px 20px 10px black;
  color: darkred;
  text-align: center;
  border-radius: 6px;
  padding: 20px 5px 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: -100px;
  font-family: "Architects Daughter", sans-serif;
  font-weight: bold;

}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: darkred !important;
}

.terms-container {
  justify-self: center;
  font-family: "Architects Daughter", sans-serif;
  font-size: 15px;
  text-align: center;
}

.terms {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.terms:hover {
  color: white;
}

.left-register-img {
  display: grid;
  grid-area: 1 / 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
  height: 180px;
}

.right-register-img {
  display: grid;
  grid-area: 1 / 3 / span 1 / span 1;
  align-self: center;
  justify-self: center;
  height: 180px;
}


