<div class="background">
  <div class="content">
    <div class="grid-container" >
      <div class="building">
        <img class="building-image" src="assets/buildings/{{building.id}}.bmp" alt="Building img">
        <div class="building-level">
          <p>20</p>
        </div>

      </div>
      <div class="building-description">
        <app-message message="buildingDescription{{building.id}}"></app-message>
      </div>
      <div class="building-production">
        <p class="input">GOODS NEEDED</p>
        <p class="output">GOODS PRODUCED</p>
        <div>
          <img src="" alt="" class="input-img">
        </div>
        <div class="output-img">
          <img src="assets/resources/fish.bmp" alt="" class="">
          <img src="assets/resources/fish.bmp" alt="" class="">
        </div>
      </div>
      <div class="resources-required">
        <img src="assets/resources/worker.bmp" alt="" class="worker">
        <img src="assets/resources/plank.bmp" alt="" class="plank">
        <img src="assets/resources/stone.bmp" alt="" class="stone">

        <img src="assets/resources/clock.png" alt="" class="clock">
        <p class="worker-value">{{building.planksNeed}}</p>
        <p class="plank-value">{{building.planksNeed}}</p>
        <p class="stone-value">{{building.stoneNeed}}</p>

        <p class="stone-value">20s</p>
      </div>
      <button class="back-button app-button" [routerLink]="['/game/village/', building.mapBelonging]">BACK</button>
      <button class="upgrade-button app-button">UPGRADE</button>

    </div>


  </div>
</div>
