.map {
  box-shadow: inset 0 0 10px 10px black;
}

.map-image {
  position: absolute;
  width: 100%;
  height: calc(100vh - 114px);
  min-height: 600px;
  z-index: -1;
}

.grid-container {
  display: grid;
  height: calc(100vh - 114px);
  min-height: 600px;
  grid-template: 35% 14% 26% 13% auto / 18% 11% 17.5% 10% 12% 15% auto ;
}

.field:hover {
  background-color: rgba(255,255,255,0.2);
  border-radius: 10%;
  box-shadow: 0 0 10px 2px black;
  cursor: url('src/assets/home/cursor-hover.bmp'), auto;
}

.quarry {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}
.build-quarry {
  background-image: url('src/assets/buildings/4.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.woodcutter {
  grid-column: 4 / 4;
  grid-row: 2 / 2;
}
.build-woodcutter {
  background-image: url('src/assets/buildings/5.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 4 / 4;
  grid-row: 2 / 2;
}

.sawmill {
  grid-column: 6 / 6;
  grid-row: 4 / 4;
}
.build-sawmill {
  background-image: url('src/assets/buildings/6.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 6 / 6;
  grid-row: 4 / 4;
}
