.map {
  box-shadow: inset 0 0 10px 10px black;
}

.map-image {
  position: absolute;
  width: 100%;
  height: calc(100vh - 114px);
  min-height: 600px;
  z-index: -1;
}

.grid-container {
  display: grid;
  height: calc(100vh - 114px);
  min-height: 600px;
  grid-template: 43% 15% 14% auto / 12% 13.5% 9.5% 5% 10% 1.5% 11.5% auto;
}

.field:hover {
  background-color: rgba(255,255,255,0.2);
  border-radius: 10%;
  box-shadow: 0 0 10px 2px black;
  cursor: url('src/assets/home/cursor-hover.bmp'), auto;
}


.stable {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}
.build-stable {
  background-image: url('src/assets/buildings/19.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.tannery {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
}
.build-tannery {
  background-image: url('src/assets/buildings/17.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 3 / 3;
  grid-row: 3 / 3;
}

.armory-workshop {
  grid-column: 5 / 5;
  grid-row: 3 / 3;
}

.build-armory-workshop {
  background-image: url('src/assets/buildings/18.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 5 / 5;
  grid-row: 3 / 3;
}

.weapon-workshop {
  grid-column: 7 / 7;
  grid-row: 2 / 2;
}
.build-weapon-workshop {
  background-image: url('src/assets/buildings/16.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 7 / 7;
  grid-row: 2 / 2;
}
.countdown-map{
  font-size: 30px;
  font-weight: 800;
  font-family: "Architects Daughter", sans-serif;
  color: white;
}
