
<h2 mat-dialog-title>Daily resource report</h2>
<mat-dialog-content class="mat-typography">
  <span class="dialog-resources-title">Resources</span>
  <div>
    <span> planks: </span>
    <img src="assets/resources/plank.bmp">
  </div>
  <div>
    <span> stone: </span>
    <img src="assets/resources/stone.bmp">
  </div>

  <span class="dialog-resources-title">Farms</span>
  <div>
    <span> wine: </span>
    <img src="assets/resources/wine.bmp">
  </div>
  <div>
    <span> bread: </span>
    <img src="assets/resources/bread.bmp">
  </div>
  <div>
    <span> fish: </span>
    <img src="assets/resources/fish.bmp">
  </div>
  <div>
    <span> sausage: </span>
    <img src="assets/resources/sausage.bmp">
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="dialog-resources-button" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>

