
<h2 mat-dialog-title>Daily resource report</h2>
<mat-dialog-content class="mat-typography" *ngIf="isDataAvailable">
  <span class="dialog-resources-title">Resources</span>
  <div>
    <img src="assets/resources/plank.bmp">
    <span> {{resourcesToAdd.plank}} </span>
  </div>
  <div>
    <img src="assets/resources/stone.bmp">
    <span> {{resourcesToAdd.stone}} </span>
  </div>

  <span class="dialog-resources-title">Farms</span>
  <div>
    <img src="assets/resources/wine.bmp">
    <span> {{resourcesToAdd.wine}} </span>
  </div>
  <div>
    <img src="assets/resources/bread.bmp">
    <span> {{resourcesToAdd.bread}} </span>
  </div>
  <div>
    <img src="assets/resources/fish.bmp">
    <span> {{resourcesToAdd.fish}} </span>
  </div>
  <div>
    <img src="assets/resources/sausage.bmp">
    <span> {{resourcesToAdd.sausage}} </span>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="dialog-resources-button" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>

