::ng-deep.mat-dialog-container{
  background-image: url("src/assets/home/scroll5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dialog-resources-title{
  font-size: 18px;
}
.dialog-resources-button{
  background-image: url("src/assets/home/sidenav-button.bmp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
