<div class="example-container">
  <div class="top-nav">
    <mat-toolbar class="toolbar">

      <div class="logo-container">
        <img class="toolbar-logo" src="assets/home/leftarm.bmp" alt="Left arm logo">
        <img class="toolbar-logo" src="assets/home/logo.bmp" alt="Knights and Merchants logo">
        <img class="toolbar-logo" src="assets/home/rightarm.bmp" alt="Right arm logo">
      </div>

      <div class="navigation">
        <div class="nav-button">
          <a mat-list-item [routerLink]="'/'">Main Site</a>
        </div>
        <div class="nav-button">
          <a mat-list-item [routerLink]="'/login'">Login</a>
        </div>
        <div class="nav-button">
          <a mat-list-item [routerLink]="'/register'">Register</a>
        </div>
        <div class="nav-button">
          <a mat-list-item [routerLink]="'/contact'">Contact</a>
        </div>
      </div>

    </mat-toolbar>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <div class="icons">
      <a href="https://www.facebook.com"><img class="social-link" src="assets/icons/facebook.svg" alt="Facebook"></a>
      <a href="https://www.instagram.com"><img class="social-link" src="assets/icons/instagram.svg" alt="Instagram"></a>
      <a href="https://www.twitter.com"><img class="social-link" src="assets/icons/twitter.svg" alt="Twitter"></a>
    </div>
  </footer>
</div>
