<div class="example-container">

  <main-nav class="navigation">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main-nav>


  <div class="footer-container">
    <footer>
      <div class="icons">
        <a href="https://www.facebook.com"><img class="social-link" src="assets/icons/facebook.svg" alt="Facebook"></a>
        <a href="https://www.instagram.com"><img class="social-link" src="assets/icons/instagram.svg" alt="Instagram"></a>
        <a href="https://www.twitter.com"><img class="social-link" src="assets/icons/twitter.svg" alt="Twitter"></a>
      </div>
    </footer>
  </div>


</div>
