
.content {
  display: flex;

}

.login-area {
  /*float: top;*/
  background-image: url("src/assets/home/scroll6.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 30px 20px 30px;
}

.input {
  display: flex;
  background-image: url("src/assets/home/input.png");
  background-size: cover;
  width: auto;
  height: auto;
  border: none;
  border-radius: 5px;
  padding: 3px 5px 3px 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px 2px black;
  font-family: "Architects Daughter", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.input::placeholder {
  color: white;
  font-family: "Architects Daughter", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  opacity: 0.8;
}

.password-reminder {
  display: flex;
  justify-content: center;
  font-family: "Architects Daughter", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.password-reminder:hover {
  color: black;
  font-weight: bold;
}

.login-img {
  flex: 1 1 auto;
  margin: 0 50px 0 50px;
}


.nav-button {
  display: flex;
  justify-content: center;
  width: auto;
  background-image: url("src/assets/home/background.png");
  background-position: right;
  margin: 30px 10px 20px 10px;
  box-shadow: inset 0 0 10px black, 10px 10px 10px 2px black;
  border-radius: 5px;
  border: black solid 3px;
}

.nav-button:hover {
  box-shadow: inset 0 0 10px red, 10px 10px 10px 2px red;
}

.nav-button a {
  font-size: 20px;
  color: white;
  font-family: "Architects Daughter", sans-serif;
  text-decoration: none;

}
