<div class="content">

  <img class="left-login-img" src="assets/home/leftarm.bmp" alt="">

  <div class="login-area">

    <input class="input" type="text" placeholder="Username">
    <input class="input" type="password" placeholder="Password">

    <a class="password-reminder" href="">Don't remember a password?</a>

    <div class="nav-button">
      <a mat-list-item [routerLink]="'/game'">Get to game!</a>
    </div>
  </div>

  <img class="right-login-img" src="assets/home/rightarm.bmp" alt="">

</div>
