<div class="content">

  <img class="left-login-img" src="assets/home/leftarm.bmp" alt="">

  <div class="login-area">
    <form class="container" [formGroup]="loginGroup">

    <input class="input" type="text" placeholder="Username" formControlName="usernameControl">
    <input class="input" type="password" placeholder="Password" formControlName="passwordControl">

    <a class="password-reminder" href="">Forgot password?</a>
      <!--[disabled]="!loginGroup.valid" -->
  <button class="app-button"  [routerLink]="'/game'">
      Get to game!
      </button>
    </form>
  </div>

  <img class="right-login-img" src="assets/home/rightarm.bmp" alt="">

</div>
