.hidden {
  display: none;
}

/* SIDENAV */
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 224px;
  background-image: url("src/assets/home/sidenav_background.bmp");
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav-buttons-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 400px;

}
.sidenav-button {
  background-image: url("src/assets/home/sidenav-button.bmp");
  margin-right: 20px;
  width: 172px;
  height: 63px;
  border-radius: 8px;
  box-shadow:  inset 0 0 4px 3px black, 0 0 20px 4px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav-button:hover{
  /*box-shadow:  inset 0 0 10px darkgrey, 4px 8px 10px 2px darkgrey;*/
  box-shadow: inset 0 0 4px 3px rgba(169, 164, 166, 0.1), 0 0 10px 4px rgba(169, 164, 166, 0.2);
}

.sidenav-button a {
  font-size: 28px;
  font-family: 'Architects Daughter', cursive;
}

#sidenav-menu-text{
  background-image: url("src/assets/home/sidenav_background_turned.bmp");
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sidenav-menu-text a{
  background-image: url("src/assets/home/stone-button.bmp");
  font-size: 46px;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;

  padding: 15px 33px 15px 33px;
  margin: 0 20px 30px 0;
  border-radius: 20px;
  box-shadow:  inset 0 0 4px 3px black, 0 0 15px 8px black;

}

/* TOOLBAR */

.top-nav {
  padding: 0 20px 50px;
  background-image: url("src/assets/home/sidenav_background_turned.bmp");
  background-position: bottom left;
}


.toolbar {
  background-image: url("src/assets/home/background.png");
  box-shadow: inset 0 0 10px black, 10px 10px 10px 2px black;
  display: flex;
  align-items: center;
}

/* LEFT SIDE OF TOOLBAR */

.sidenav-menu-icon{
  width: 40px;
  height: 40px;
  padding: 4px 8px 4px 8px;
  border-radius: 6px;
}
.sidenav-menu-icon:hover{
  background-color: rgba(169, 164, 166, 0.1);
}
.home-logo-container {
  display: flex;
  justify-content: flex-start;
  outline: 0;
}
.home-logo-container:hover {
  background-color: rgba(169, 164, 166, 0.1);
  border-radius: 40px;
}

.toolbar-home-logo {
  position: relative;
  height: 50px;
  margin: 5px;

}

/* SPACER */
.spacer {
  flex: 1 1 auto;
}

/* RIGHT SIDE OF TOOLBAR */

.nav-button {
  width: 105px;
  padding: 5px 10px 5px 10px;
  background-image: url("src/assets/home/toolbar_button.bmp");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 30px;
  border-radius: 5px;
  box-shadow: inset 0 0 10px 2px black, 0 0 10px 4px black;
  font-family: 'Architects Daughter', cursive;
  font-size: 24px;
}

.nav-button:hover {
  box-shadow: inset 0 0 20px 2px rgba(169, 164, 166, 1), 2px 2px 20px 5px rgba(169, 164, 166, 1);

}



/* FOOTER */

.footer-container {
  background-image: url("src/assets/home/footer.bmp");
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

footer {
  background-image: url("src/assets/home/buttons-background-gui.png");
  /*background-size: cover;*/
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 60px;
  margin-top: 50px;
  box-shadow: inset 0 0 10px black, 10px 10px 10px 2px black;
}

.social-link {
  border-radius: 50%;
  margin: 7px 5px 5px 5px;
}

.social-link:hover {
  background-color: rgba(16, 147, 244, 1);
  box-shadow: 0 0 10px 5px rgba(16, 147, 244, 1);
}

.scrollTop-button{
  background-image: url("src/assets/home/stone-button.bmp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  box-shadow:  inset 0 0 10px black, 10px 10px 10px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 30px;
}
.scrollTop-button a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-family: 'Architects Daughter', cursive;
}
