.map {
  box-shadow: inset 0 0 10px 10px black;
}

.map-image {
  position: absolute;
  width: 100%;
  height: calc(100vh - 114px);
  min-height: 600px;
  z-index: -1;
}

.grid-container {
  display: grid;
  height: calc(100vh - 114px);
  min-height: 600px;
  grid-template: 5% 20% 5% 13% 17% 13% 5% 13% auto / 14% 15% 36% 7.5% auto;
}

.field:hover {
  background-color: rgba(255,255,255,0.2);
  border-radius: 10%;
  box-shadow: 0 0 10px 2px black;
  cursor: url('src/main/assets/home/cursor-hover.bmp'), auto;
}


.barracks {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}
.build-barracks {
  background-image: url('src/main/assets/buildings/24.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.weapon-smith {
  grid-column: 2 / 2;
  grid-row: 6 / 6;
}
.build-weapon-smith {
  background-image: url('src/main/assets/buildings/22.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2 / 2;
  grid-row: 6 / 6;
}

.armor-smith {
  grid-column: 2 / 2;
  grid-row: 8 / 8;
}

.build-armor-smith {
  background-image: url('src/main/assets/buildings/23.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2 / 2;
  grid-row: 8 / 8;
}

.upper-tower {
  grid-column: 4 / 4;
  grid-row: 4 / 4;
}
.build-upper-tower {
  background-image: url('src/main/assets/buildings/25.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 4 / 4;
  grid-row: 4 / 4;
}

.down-tower {
  grid-column: 4 / 4;
  grid-row: 6 / 6;
}
.build-down-tower {
  background-image: url('src/main/assets/buildings/25.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 4 / 4;
  grid-row: 6 / 6;
}
.countdown-map{
  font-size: 30px;
  font-weight: 800;
  font-family: "Architects Daughter", sans-serif;
  color: white;
}
