<div class="map">
  <img class="map-image" src="assets/maps/city_map.png" alt="City map">

  <div class="grid-container">

    <div class="field build-butcher" [routerLink]="'/game'">
    </div>
    <div class="field build-inn" [routerLink]="'/game'">
    </div>
    <div class="field build-storehouse" [routerLink]="'/game'">
    </div>
    <div class="field build-school" [routerLink]="'/game'">
    </div>
    <div class="field build-gold-smith" [routerLink]="'/game'">
    </div>
    <div class="field build-bakery" [routerLink]="'/game'">
    </div>
    <div class="field build-mill" [routerLink]="'/game'">
    </div>
    <div class="field build-marketplace" [routerLink]="'/game'">
    </div>
    <div class="field build-townhall" [routerLink]="'/game'">
    </div>

  </div>


</div>
