.map {
  box-shadow: inset 0 0 10px 10px black;
}

.map-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template: 27% 15% 15% 15% auto / 10% 10% 7.5% 3% 8% 6.5% 12% 3.5% 2% 10% 6.5% 2% 10% auto;
}

.field:hover {
  background-color: rgba(255,255,255,0.2);
  border-radius: 10%;
  box-shadow: 0 0 10px 2px black;
  cursor: url('src/assets/home/cursor-hover.bmp'), auto;
}


.butcher {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}
.build-butcher {
  background-image: url('src/assets/buildings/11.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.inn {
  grid-column: 4 / 6;
  grid-row: 2 / 2;
}
.build-inn {
  background-image: url('src/assets/buildings/3.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 4 / 6;
  grid-row: 2 / 2;
}

.storehouse {
  grid-column: 7 / 7;
  grid-row: 2 / 2;
}
.build-storehouse {
  background-image: url('src/assets/buildings/1.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 7 / 7;
  grid-row: 2 / 2;
}

.school {
  grid-column: 10 / 10;
  grid-row: 2 / 2;
}
.build-school {
  background-image: url('src/assets/buildings/2.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 10 / 10;
  grid-row: 2 / 2;
}

.gold-smith {
  grid-column: 13 / 13;
  grid-row: 2 / 2;
}
.build-gold-smith {
  background-image: url('src/assets/buildings/15.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 13 / 13;
  grid-row: 2 / 2;
}

.bakery {
  grid-column: 2 / 2;
  grid-row: 4 / 4;
}
.build-bakery {
  background-image: url('src/assets/buildings/9.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2 / 2;
  grid-row: 4 / 4;
}

.mill {
  grid-column: 5 / 5;
  grid-row: 4 / 4;
}
.build-mill {
  background-image: url('src/assets/buildings/8.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 5 / 5;
  grid-row: 4 / 4;
}

.marketplace {
  grid-column: 9 / 11;
  grid-row: 4 / 4;
}
.build-marketplace {
  background-image: url('src/assets/buildings/10.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 9 / 11;
  grid-row: 4 / 4;
}

.townhall {
  grid-column: 12 / 14;
  grid-row: 4 / 4;
}
.build-townhall {
  background-image: url('src/assets/buildings/27.bmp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 12 / 14;
  grid-row: 4 / 4;
}


