<div class="city-map">
  <img class="city-map-image" src="assets/city/city.png" alt="City map">


  <mat-grid-list class="grid-list" cols="43" rowHeight="fit">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      class="{{tile.className}}">
      <a class="link"
         (click)="setField(tile.tileNumber,'map')"
         [routerLink]="tile.routerLink"
         target="_self">
<!--        <img *ngIf="tile.imgId!=0" [src]="pathStart+tile.imgId+pathEnd">-->
      </a>

    </mat-grid-tile>
  </mat-grid-list>


</div>
