<div class="background" *ngIf="isDataAvailable">
  <div class="content">
    <div class="grid-container" [ngClass]="building">
      <div class="building">
        <img class="building-image" src="assets/buildings/{{building.id}}.bmp" alt="Building img">
        <div class="building-level">
          <p>{{field.buildingLevel}}</p>
        </div>

      </div>
      <div class="building-description">
        <app-message message="buildingDescription{{building.id}}"></app-message>
      </div>
      <div class="building-production" [ngClass]="unit">
        <div class="unit">
        <img src="assets/units/{{unit.name.toLowerCase()}}.png" alt="Unit image" class="unit-image">
          <p class="unit-name">{{unit.name}}</p>
        </div>
        <div class="details">
          <p class="details-title">REQUIREMENTS</p>
          <div class="requirements">
            <img src="assets/resources/gold.bmp" alt="">
            <p>{{unit.goldCost}}</p>
            <img src="assets/resources/clock.png" alt="">
            <p>{{unit.timeNeeded}}</p>
          </div>
          <div class="slider-container">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
          </div>
        </div>
        <div class="navigation">
          <button class="button navigation-button" (click)="nextUnit(0)">
            <img src="assets/icons/left-arrow.png" class="arrow-image">
          </button>
          <button class="button navigation-button" (click)="nextUnit(1)">
            <img src="assets/icons/right-arrow.png" class="arrow-image">
          </button>
        </div>

        <button class="button recruit-button app-button">
          RECRUIT
        </button>

      </div>
      <div class="resources-required">
        <img src="assets/resources/worker.bmp" class="worker">
        <img src="assets/resources/plank.bmp" class="plank">
        <img src="assets/resources/stone.bmp" class="stone">

        <img src="assets/resources/clock.png" class="clock">
        <p class="worker-value">{{building.planksNeed}}</p>
        <p class="plank-value">{{building.planksNeed}}</p>
        <p class="stone-value">{{building.stoneNeed}}</p>

        <p class="stone-value">20s</p>
      </div>
      <button class=" button back-button app-button"
              [routerLink]="['/game/village/', building.mapBelonging]">
        BACK
      </button>
      <button class=" button build-button app-button"
              (click)="upgradeBuilding()"
              [ngSwitch]="field.buildingLevel">
        <p *ngSwitchCase="0">BUILD</p>
        <p *ngSwitchDefault>UPGRADE</p>
      </button>
      <div class="tooltip" [@showHide]="upgradeError ? 'show' : 'hide'">
        <span class="tooltip-text">Not enough resources</span>
      </div>

    </div>

  </div>
</div>
