.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("src/assets/home/background_h.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 30px 8px black;
  /* very important properties*/
  min-height: 100%;
  padding: 5% 0 5% 0;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 80vh;
  background-image: url("src/assets/home/scroll6.png");
  background-size: cover;
  padding: 8% 50px 50px 5%;
  box-shadow: inset 0 0 15px 10px black, 0 0 30px 15px black;
  border-radius: 20px 20px 5px 5px;
}

.grid-container {
  display: grid;
  min-width: 100%;
  min-height: 100%;
  grid-template: 20% 60%  20% / 40% 30% 30%;
  font-family: "Architects Daughter", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.building {
  grid-column: 1;
  grid-row: 1 / 3;
  display: grid;
  justify-self: flex-start;
  align-self: flex-start;
  grid-template: 50px auto / 50px auto;
  width: 60%;
  height: 60%;
}

.building-level {
  grid-column: 1;
  grid-row: 1;
  background-image: url("src/assets/resources/background.bmp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  box-shadow: 5px 5px 30px 15px black;
}
.building-level p {
  margin-bottom: 0;
}

.building-image {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
}

.building-description {
  grid-column: 2 / 4;
  grid-row: 1;
  align-self: center;
}

.building-production {
  grid-column: 2 / 4;
  grid-row: 2;
  display: grid;
  grid-template: 75% 25% / 50% 50%;
  grid-template-areas: "unit details"
                      "navigation recruit-button";
  justify-items: center;
  width: 100%;
  background-image: url("src/assets/home/box.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.unit {
  align-self: center;
  justify-items: center;
  display: grid;
  grid-template: 80% 20% / 100%;
  min-height: 90%;
}

.unit-image {
  grid-column: 1;
  grid-row: 1;
  min-height: 80%;
  align-self: center;
}

.unit-name {
  grid-column: 1;
  grid-row: 2;
  height: fit-content;
  width: 70px;
  background-color: white;
  box-shadow: 0 0 10px 10px white;
}

.details {
  height: 100%;
  display: grid;
  align-self: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template: 1fr 1fr 1fr / 100%;
}

.details-title {
  grid-column: 1;
  grid-row: 1;
  background-color: white;
  box-shadow: 0 0 20px 20px white;
  align-self: flex-end;
}

.requirements {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  background-color: white;
  box-shadow: 0 0 20px 20px white;
  border-radius: 40px;
}

.input-unit {
  grid-column: 1;
  grid-row: 3;
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.input-unit-value:disabled {
  width: 50px;
  background: white;
  border-radius: 40px;
  border: black solid 2px;
  box-shadow: 0 0 5px 5px black;
  margin-left: 50px;
  margin-bottom: 10px;
  font-family: "Architects Daughter", sans-serif;
  font-weight: bold;
  text-align: right;
}

.navigation {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}

.navigation-button {
  background-color: rgba(0,0,0,0);
  border: none;
  color: rgba(0,0,0,0);
}

.navigation-button:focus {
  outline: none;
}

.arrow-image:active {
  background-color: lightgoldenrodyellow;
  box-shadow: 0 0 5px 5px lightgoldenrodyellow;
  border-radius: 40px;
}

.recruit-button {
  margin: 0;
  height: fit-content;
  align-self: flex-start;
}

.resources-required {
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-template: 50% 50% / 1fr 1fr 1fr 1fr;
  grid-template-areas: "worker plank stone clock"
                      "wroker-value plank-value stone-value time";
  justify-self: center;
  justify-items: center;
  align-self: center;
  width: 45%;
  height: 50%;
}

.build-button {
  grid-column: 3;
  grid-row: 3;
  height: fit-content;
  padding: 5px 5px 5px 5px;
  justify-self: left;
}

.build-button p, .details p, .requirements p, .unit p {
  margin: 0;
}

.back-button {
  grid-column: 2;
  grid-row: 3;
  height: fit-content;
  padding: 5px 10px 5px 10px;
  justify-self: right;
}

.button:hover {
  cursor: url('src/assets/home/cursor.bmp'), auto;
}

.tooltip {
  grid-column: 1;
  grid-row: 3;
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  width: content-box;
  background-image: url("src/assets/home/scroll2.bmp");
  background-size: cover;
  box-shadow: inset 0 0 10px 2px black, 2px 2px 20px 10px black;
  color: darkred;
  text-align: center;
  border-radius: 6px;
  padding: 20px 15px 15px 15px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  font-family: "Architects Daughter", sans-serif;
  font-weight: bold;
}


/*HIDE DEFAULT STYLE*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/*THUMB*/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 21px;
  background-image: url("src/assets/icons/both-arrows_transparent.png");
  margin-top: -4px;
}
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 21px;
  background-image: url("src/assets/icons/both-arrows_transparent.png");
}

/*TRACK*/
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  box-shadow: 1px 1px 5px 5px #000000, 0px 0px 1px #0d0d0d;
  background: white;
  color: black;
  border-radius: 20px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
  color: black;
}

/*input[type=range]::-ms-fill-lower {*/
/*  background-color: white;*/
/*}*/
/*input[type=range]:focus::-ms-fill-lower {*/
/*  background-color: white;*/
/*}*/
/*input[type=range]::-ms-fill-upper {*/
/*  background-color: black;*/
/*}*/
/*input[type=range]:focus::-ms-fill-upper {*/
/*  background: black;*/
/*}*/
