<div class="content">

  <div class="title-container">

    <div class="parallax">
      <div class="parallax__layer parallax__layer__0">
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_0.png?raw=true"/>
      </div>
      <div class="parallax__layer parallax__layer__1" >
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_1.png?raw=true"/>
      </div>
      <div class="parallax__layer parallax__layer__2">
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_2.png?raw=true"/>
      </div>
      <div class="parallax__layer parallax__layer__3">
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_3.png?raw=true"/>
      </div>
      <div class="parallax__layer parallax__layer__4">
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_4.png?raw=true"/>
      </div>
      <div class="parallax__layer parallax__layer__5">
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_5.png?raw=true"/>
      </div>
      <div class="parallax__layer parallax__layer__6">
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_6.png?raw=true"/>
      </div>
      <div class="parallax__cover"></div>
    </div>


  </div>


  <div class="home-row-spacer row-spacer1"></div>
  <div class="story-container">
    <p>TAKSSADADADWDW</p>
  </div>
  <div class="home-row-spacer row-spacer2"></div>
  <div class="mechanics-container">

    <div class="parallax2">
      <div class="parallax__layer parallax__layer__0">
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_0.png?raw=true"/>
      </div>
      <div class="parallax__layer parallax__layer__1" >
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_1.png?raw=true"/>
      </div>
      <div class="parallax__layer parallax__layer__2">
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_2.png?raw=true"/>
      </div>
      <div class="parallax__layer parallax__layer__3">
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_3.png?raw=true"/>
      </div>
      <div class="parallax__layer parallax__layer__4">
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_4.png?raw=true"/>
      </div>
      <div class="parallax__layer parallax__layer__5">
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_5.png?raw=true"/>
      </div>
      <div class="parallax__layer parallax__layer__6">
        <img
          src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_6.png?raw=true"/>
      </div>
      <div class="parallax__cover"></div>
    </div>


  </div>
  <div class="home-row-spacer row-spacer3"></div>
  <div class="gameplay-container">
    <p>TAKSSADADADWDW</p>
  </div>

</div>
