.content {
  /*background-image: url("src/assets/home/scroll5.png");*/
  /*background-size: cover;*/
  /*border-radius: 20px 20px 5px 5px;*/
  /*box-shadow: inset 0 0 15px black, 0 0 30px 15px black;*/
  /*padding: 100px 100px 100px 100px;*/
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: calc(100vh - 114px) 72px 100vh 72px 100vh 72px calc(100vh - 114px);
  /*row-gap: 20px;*/
  grid-template-areas:
                  "title"
                  "home-row-spacer1"
                  "story"
                  "home-row-spacer2"
                  "mechanics"
                  "home-row-spacer3"
                  "gameplay";
}

.title-container{
  grid-area: title;
  background-color: rgb(139,197,247);
  display: flex;
  justify-content: center;
  align-items: flex-start;

}
.register-button-from-main-site{
  background-image: url("src/assets/home/stone-button.bmp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 70px;
  border-radius: 8px;
  box-shadow:  inset 0 0 4px 3px black, 0 0 20px 4px black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-top: 20px;
}
.register-button-from-main-site a {
  font-size: 28px;
  text-decoration: none;
  color: black;
  font-family: 'Architects Daughter', cursive;
}

.register-button-from-main-site:hover{
  /*box-shadow: inset 0 0 4px 3px rgba(169, 164, 166, 0.1), 0 0 10px 4px rgba(169, 164, 166, 0.2);*/
}
.story-container{
  grid-area: story;
  /*background-color: #FEDCC8;*/
}
.mechanics-container{
  grid-area: mechanics;
  background-color: #FEDCC8;
}
.gameplay-container{
  grid-area: gameplay;
  background-color: darkkhaki;
}
.home-row-spacer{
  background-image: url("src/assets/home/home-row-spacer.bmp");
}
.row-spacer1{
  grid-area: home-row-spacer1;
}
.row-spacer2{
  grid-area: home-row-spacer2;
}
.row-spacer3{
  grid-area: home-row-spacer3;
}


.parallax__layer__0{
  transform: translateZ(-300px) scale(4);
}
.parallax__layer__1{
  transform: translateZ(-250px) scale(3.5);
}
.parallax__layer__2{
  transform: translateZ(-200px) scale(3);
}
.parallax__layer__3{
  transform: translateZ(-150px) scale(2.5);
}
.parallax__layer__4{
  transform: translateZ(-100px) scale(2);
}
.parallax__layer__5{
  transform: translateZ(-50px) scale(1.5);

}
.parallax__layer__6{
  transform: translateZ(0px) scale(1);
}

.parallax__cover-1 {
  background-image: url("src/assets/parallax/parallal-cover-1.png");
}

.parallax__cover-food-1 {
  background-image: url("src/assets/parallax/layer-cover-food.png");
}

/*.parallax__layer-food__1{*/
/*  transform: translateZ(0px) scale(1);*/
/*}*/
