<div class="background" *ngIf="isDataAvailable">
  <div class="content">
    <div class="grid-container" [ngClass]="building">
      <div class="building">
        <img class="building-image" src="assets/buildings/{{building.id}}.bmp" alt="Building img">
        <div class="building-level">
          <p>{{field.buildingLevel}}</p>
        </div>

      </div>
      <div class="building-description">
        <app-message message="buildingDescription{{building.id}}"></app-message>
      </div>
      <div class="building-production">
        <p class="input">GOODS NEEDED</p>
        <p class="output">GOODS PRODUCED</p>
        <div class="input-img">
          <img class="resources-icon" *ngFor="let goodN of building.goodsNeededImg" src="assets/resources/{{goodN}}.bmp">
        </div>
        <div class="output-img">
          <img class="resources-icon" *ngFor="let goodP of building.goodsProducedImg" src="assets/resources/{{goodP}}.bmp">
        </div>
      </div>
      <div class="resources-required">
        <img class="worker resources-icon" src="assets/resources/worker.bmp" >
        <img class="plank resources-icon" src="assets/resources/plank.bmp" >
        <img class="stone resources-icon" src="assets/resources/stone.bmp" >
        <img class="clock resources-icon" src="assets/resources/clock.png" >

        <p class="worker-value">{{building.workersNeed}}</p>
        <p class="plank-value">{{building.planksNeed}}</p>
        <p class="stone-value">{{building.stoneNeed}}</p>
<!--        <p class="stone-value">20s</p>-->
        <p class="stone-value" *ngIf="duration<0"><countdown [config]="{leftTime: this.timeToUpgrade, demand: true}"></countdown></p>
        <p class="stone-value" *ngIf="duration>=0"><countdown [config]="{leftTime: this.duration}"></countdown></p>
      </div>
      <button class="back-button app-button"
              [routerLink]="['/game/village/', building.mapBelonging]">
        BACK
      </button>
      <button id="upgrade-button" class="upgrade-button app-button"
              (click)="upgradeBuilding()">
        UPGRADE
      </button>
      <div class="tooltip" [@showHide]="upgradeError ? 'show' : 'hide'">
        <span class="tooltip-text">Not enough resources</span>
      </div>

    </div>


  </div>
</div>
