<div class="map">
  <img class="map-image" src="assets/maps/gate_map.png" alt="Gate map">

  <div class="grid-container">

    <div class="field barracks">
      <a [routerLink]="'/game'" class="link"></a>
    </div>
    <div class="field weapon-smith">
      <a [routerLink]="'/game'" class="link"></a>
    </div>
    <div class="field armor-smith">
      <a [routerLink]="'/game'" class="link"></a>
    </div>
    <div class="field upper-tower">
      <a [routerLink]="'/game'" class="link"></a>
    </div>
    <div class="field down-tower">
      <a [routerLink]="'/game'" class="link"></a>
    </div>


  </div>

</div>
