<div class="map">
  <img class="map-image" src="assets/maps/gate_map.png" alt="Gate map">

  <div class="grid-container">

    <div class="field build-barracks" [routerLink]="'/game'">

    </div>
    <div class="field build-weapon-smith" [routerLink]="'/game'">

    </div>
    <div class="field build-armor-smith" [routerLink]="'/game'">

    </div>
    <div class="field build-upper-tower" [routerLink]="'/game'">

    </div>
    <div class="field build-down-tower" [routerLink]="'/game'">

    </div>


  </div>

</div>
